*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}


#calculator {
    width: 430px;
    height: auto;
    padding: 23px;
    background: rgba(72, 226, 193, 0.678);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

span {
    border: 1px solid lightgrey;
    /* padding: 15px; */
    /* margin: 20px; */
    background: whitesmoke;
    cursor: pointer;
    /* box-sizing: border-box; */
    padding: 15px;
}

.screen{
    grid-column: 2 / 5;
    background: whitesmoke;
    border: 1px solid lightgrey;
    font-size: 20px;
    
}